body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  border: 0.2px solid black;
  text-align: center;
  color:black;
  background-color: black;

  
}
.row{
  padding:10px;
  align-content:center;
  text-align:center;

}

.column{
  background-color:white;
  text-align:center;

}
.form{
  padding:10px;
}
#x{
  margin:20px;

  text-align:center;
  color:black;
}
.Tables{
  padding:20px;
  margin:10px;
}
.y{
  text-align:start;
}
*{
  background-color:"  linear-gradient( 90deg,#668cff,#80ffbf)",
}